@import "_variables.less";

/*--------------
    PLACEHOLDER
----------------*/

.placeholder {
    display: inline-block;
    flex: 1 1 auto;
    height: 100%;
    //overflow: auto;
    width: 100%;
}
