@import (once) "_variables.less";

/*--------------
    PLACEHOLDER
----------------*/

.placeholder {
    display: inline-block;
    //flex: 1;
    height: 100%;
    //overflow: auto;
    width: 100%;
}
