@import "_variables.less";

/*---------
    WINDOW
-----------*/

.Window {
    background-color: @color-back;
    box-sizing: border-box;
    font-family: @font-family;
    margin: 0;
    min-height: 100%;
    min-width: -moz-min-content;
    min-width: -webkit-min-content;
    padding: 0;
}

html {
    background-color: @color-back;
    height: 100%;
    width: 100%;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* IE10+ specific styles go here */
    .Window {
        //height: 100%; // Content didn't stretch vertically
    }
}

.hidden {
    display: none;
}
/*.visibility-Hidden {
    visibility: hidden;
}

.visibility-Collapsed {
    display: none;
}*/
