@import (once) "_variables.less";

/*---------
    WINDOW
-----------*/

.window {
    background-color: @color-back;
    box-sizing: border-box;
    font-family: @font-family;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
