@import "global.less";

/*--------
    CHECKBOX
----------*/

.checkbox {
    align-items: center;
    box-sizing: border-box;
    cursor: default;
    display: inline-flex;
    flex: none;
    flex-flow: row nowrap;
    font-size: 1em;
    //height: 2em; // IE
    justify-content: center;
    min-height: 2em;
    min-width: 2em;
    overflow: hidden;
    padding: 0/* 0.5em*/;

    > input[type=checkbox] {
        display: none;

        &:checked + .check {
            &:before {
                background-color: @color-input-fore;
                content: "";
                display: inline-block;
                height: 0.25em;
                left: 0.125em;
                position: absolute;
                top: 0.5em;
                transform: skewY(45deg);
                width: 0.25em;
            }

            &:after {
                background-color: @color-input-fore;
                content: "";
                display: inline-block;
                height: 0.25em;
                position: absolute;
                top: 0.375em;
                transform: skewY(-45deg);
                width: 0.5em;
                left: 0.375em;
            }
        }
    }

    > .check {
        background-color: @color-input-back;
        display: inline-block;
        flex: none;
        font-size: 1em;
        height: 1em;
        margin: 0.5em 0;
        position: relative;
        width: 1em;
    }

    &:hover > .check {
        background-color: @color-input-active;
    }

    > .text {
        margin-left: 0.25em;
        color: @color-fore;
        display: inline-block;
        flex: none;
        font-size: 1em;
        line-height: 1em;
        pointer-events: none;
    }
}
