@import "global.less";

/*--------
    STACK
----------*/

.stack {
    .stretched();
    overflow: hidden;

    > .content {
        display: flex;
        min-width: 100%;
        min-height: 100%; // Doesn't work in IE http://jsfiddle.net/kevinsbennett/LXwF8/1/
        > div,
        > span {
            flex: none;
        }
    }
}

/* Flow */
.stack.flow-x > .content {
    flex-direction: row;
}

.stack.flow-y > .content {
    flex-direction: column;
}

/* Content alignment */
.stack.content-align-start > .content {
    justify-content: flex-start;
}

.stack.content-align-center > .content {
    justify-content: center;
}

.stack.content-align-end > .content {
    justify-content: flex-end;
}

/* Items alignment */
.stack.items-align-start > .content {
    align-items: flex-start;
}

.stack.items-align-center > .content {
    align-items: center;
}

.stack.items-align-end > .content {
    align-items: flex-end;
}

.stack.items-align-stretch > .content {
    align-items: stretch;
    -ms-flex-line-pack: stretch;
}

/* Scroll bar */
.stack.scrollbar-none {
    overflow: hidden;
}

.stack.scrollbar-x {
    overflow-x: auto;
    overflow-y: hidden;
}

.stack.scrollbar-y {
    overflow-x: hidden;
    overflow-y: auto;
}

.stack.scrollbar-both {
    overflow: auto;
}

/* Wrapping */
.stack.wrapping-nowrap > .content {
    flex-wrap: nowrap;
}

.stack.wrapping-wrap > .content {
    flex-wrap: wrap;
}
